a:hover{
  text-decoration: none;
}
.ver{
  height: 7vw;
  width: 7vw;
}
.float-left{
  float: left;
}
.first{
  background-color: #4A1F9F;
  background-image: linear-gradient(to right, #4A1F9F,#7A09CA);
  padding-left: 17.5vw;
  padding-right:17.5vw;
}
.image-1{
  display: inline;
}

.main-icon{
  width: 15vw;
  height: 5vw;
}

.links{
  display: inline;
}

.ini-link{
  color: #fff;
  font-size: 0.75vw;
  padding: 0.75vw;
}
.ini-link:hover{
  color: #ffd8cc;
  text-decoration: none;
   font-size: 1vw;
}

.dropdown{
  display: inline;
  }

  .btn-primary {
    color: #fff;
    background-color: #6911BB;
    border-color:  #6911BB;
}

.open>.dropdown-toggle.btn-primary:focus  {
  color: #fff;
  background-color: #6911BB;
  border-color:  #6911BB;
}
.dropdown-toggle.btn-primary:hover{
  color: #fff;
  background-color: #6911BB;
  border-color: #6911BB;
}

.btn{
  font-size: 0.75vw;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5vw;
  padding: 1vw;
}

.grid-container > div {
  text-align: left;
  font-weight:lighter;
  padding: 5vw 0;
  font-size: 2vw;

}

.child1{
  background-image: linear-gradient(to right,#531BA7,#6214B4);
  font-family: 'Poiret One', cursive;
}

.child2{
  background-image: linear-gradient(to right,#6213B5,#700DC1);
}
.card-text{
  color: #fff;
  font-size: 2.5vw;
}
.card{
  border: 0;
}
.des{
  font-size: 1vw;
  color: #dddddd;
  margin: 1vw;
}
.butn{
  display: inline;
  font-size: 1.25vw;
  border-width:2px;
  border-style: solid;
  border-color: #7952b3;
  border-radius: 10px;
  border-spacing: 0;
  color: #fff;
  padding: 0.5vw 1.5vw;
  font-family: monospace;
  font-weight: bolder;
}
.butn:hover{
  background-color:#343a40;
  color: #ffd8cc;
  border-style: groove;
  text-decoration: none;
}
.jin{
  margin: 1vw;
  font-size: 1vw;
  color: #fff;
}
.icon
{
  display: inline;
  height: 1.5vw;
  width:1.5vw;
  margin-top:1vw;
}
#tel{
  display: none;
  color: #FEF2F7;
  font-size: 1vw;
}
#fce{
  display: none;
  color: #FEF2F7;
  font-size: 1vw;
}
#twi{
  display: none;
  color: #FEF2F7;
  font-size: 1vw;
}
#mil{
  display: none;
  color: #FEF2F7;
  font-size: 1vw;
}
#git{
  display: none;
  color: #FEF2F7;
  font-size: 1vw;
  border-radius: 100%;
}
#bit{
  display: none;
  color: #FEF2F7;
  font-size: 1vw;
  border-radius: 100%;
}
.card-img-top{
  margin: 0;
  border: 0;
}
.card-body2{
  border: 0;
  margin: 0;
  background-image: repeating-linear-gradient(to right,#4D1FA2,#4A20A3);
}
.img-btn{
  font-size: 1vw;
  padding: 1vw;
  margin: 1vw ;
  background-color: #00CEB2;
  display: inline;
}
.btn-1{
  color: #7A09CA;
  font-size: 0.75vw;
}
.btn-2{
  color: #fff;
  font-size: 0.75vw;
}
.thr{
  display: inline;
  margin : 1.5vw 0;
  margin-right: 1vw;
}
.float-right{
  float: right;
}
.second{
  background-color: #F9F8FE;
}
.sec-img{
  float:right;
}
.second{
  padding :5vw  15vw;
}
.first-head{
  color: #6D61AE;
  margin: 2vw 2vw 2vw 0;
  font-family: 'Poiret One', cursive;
  font-weight: bolder;
  font-size: 2vw;
}
.para1{
    font-weight: normal;
    font-size: 1vw;
}
.make-inline{
  display: inline;
  height: 2.5vw;
  width: 2.5vw;
  font-size: 0.9vw;
}
td{
  padding: 1.5vw 1vw;
}
.third{
  padding: 5vw 15vw;
}
.img-2{
  height: 40vw;
  width: auto;
}
.img-3{
  height:40vw;
  width: auto;
}
.fourth{
  background-color:  #F9F8FE;
  padding: 5vw 12vw;
}
.grid-container2{
  display: grid;
  grid-template-columns: auto  auto auto;
  grid-gap: 3vw;
  padding: 3vw;
}
.grid-container2 > div {
  text-align: center;
  font-weight:lighter;
  padding: 5vw 5vw;
  font-size: 2vw;

}
.first-head-center{
  color: #6D61AE;
  display :block;
  text-align: center;
  font-size: 2vw;
}
.child21,.child22,.child23{
  text-align: center;
}
.ques{
  height: 10vw;
}
.second-head-centre{
  color: #62599E;
  display :block;
  text-align: center;
  font-size: 1.25vw;
  font-weight: bold;
}
.sec-para{
  font-size: 1vw;
  color: #125d98;
}
.des-par{
  text-align: center;
  font-size: 1vw;
  font-weight: 100;
  color: #47597e;
}
.five{
  padding: 7vw 30vw;
  background-image: url('temp.jpg');
}
.main-issue{
  font-size: 3vw;
  color:  #F9F8FE;
  text-align: center;
}
.main-des{
  font-size: 2vw;
  color:  #F9F8FE;
  text-align: center;
}
.main-des-di{
  font-size: 1vw;
  color: #1768ac;
  text-align: center;
}
.six{
  background-color: #FFFFFF;
}
.main2{
  padding: 5vw 40vw 0 40vw;
}
.main2-des{
  text-align: center;
  margin-top: 1vw;
  font-size: 1.25vw;
}
.main22{
  text-align: center;
  padding: 2.5vw 30vw 0.5vw 30vw
}
.main22-img{
  height: 6.5vw;
  width: auto;
}
.main22-des{
  text-align: center;
  padding: 0.5vw 35vw 10vw 35vw;
  font-size: 1.25vw;
}
.seven{
  padding: 10vw 15vw;
    background-color: #F7F8FF;
}
.grid-container3{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 3vw;
  padding: 3vw;
}
.grid-container3>div{
  text-align: left;
  font-weight: lighter;
  color: #125d98;
}
.dashbord{
  padding-top: 5vw;
}

.dashbord-img2{
  height: 7vw;
  text-align: center;
}
.eight{
  background-image: url('temp2.jpg');
  background-repeat: repeat-x;
  background-size: contain;
  height: 120vw;
}
.initial{
  text-align: center;
  color: #ffffff;
  padding: 5vw 33vw 5vw 33vw;
}
.eight-head{
  font-size: 2vw;
}
.ini-par{
  font-size: 1vw;
  font-family:  'Poiret One', cursive;
  font-weight: 100;
}
.grid-container4{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 3vw;
  padding: 1vw 15vw 5vw 15vw;
}
.grid-container4>div{
  text-align: center;
  background-color: #5229B2;
  padding: 1vw;
}

.num{
  color: #0098B2;
  font-size: 2vw;
}
.num-des{
  font-size: 1vw;
  color: #ffffff;
}
.grid-container5{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1vw;
  padding: 2vw 35vw 5vw 35vw ;
}
.grid-container5>div{
  text-align: center;
  padding: 1vw;
  width: 10vw;
}
.child-b1{
  background-color: #7367FF;
}
.child-b2{
  background-color: #9D58F7;
}
.child-b3{
  background-color: #8D69FF;
}
.sml-lbl{
  font-size: 0.75vw;
  background-color: #41199B;
  border-radius: 1vw;
  color: #0098B2;
}
.per{
  font-size: 1.5vw;
  color: #ffffff;
}
.per-des{
  font-size: 0.6vw;
  color: #fff;
}
.bonus-head{
  font-size: 2vw;
  text-align: center;
  color: #ffffff;

}
.token{
  display: inline;
  text-align: center;
  font-size: 1.5vw;
  color: #dddddd;
  background-color: #00CEB2;
  padding: 1vw;
  border-radius: 1vw;
}
.token:hover{
  background-color: #F7F8FF;
  font-size: 1.75;
  padding: 1.5vw;
}
.cent{
  text-align: center;
}
.hell{
  height: 50vw;
}
.card-img-top8{
  height: 35vw;
  width:20vw;
}
.grid-container6{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1vw;
}
.grid-container6>div{
  text-align: left;
  margin: 5vw;
}
.cards{
  padding: 10vw 20vw 5vw 20vw;
}
.img-7{
  height: 35vw;
}
.nine{
  padding-top: 25vw;
  background-color: #F7F8FF;
}
.doc-des{
  padding: 0.5vw 37.75vw 5vw 37.75vw;
  text-align: center;
}
.grid-container7{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 1vw;
  padding: 2vw 20vw 5vw 20vw;
}
.grid-containe7>div{
  text-align: center;
}
.paper{
  padding: 0 0 0 2vw;
  font-weight: lighter;
  font-size: 1.5vw;
}
.pdf{
  padding: 0 0 0 2vw;
  color: #dddddd;
  font-size: 0.95vw;
}
.dnd-icn{
  height: 2.5vw;
}
.ten{
padding: 10vw;
}
#one{
  display: block;
  width: 40vw;
}
#two{
  display: none;
  width: 40vw;
}
#three{
  display: none;
  width: 40vw;
}
.one1{
  display: inline;
  background-color: #B77AE4;
  color:#B77AE4;
  height: 0.1px;
  padding: 0.1px 2px 0.1px 2px;
}
.two2{
  display: inline;
  background-color: #B77AE4;
  color:#B77AE4;
  height: 0.1px;
}
.three3{
  display: inline;
  background-color: #B77AE4;
  color:#B77AE4;
  height: 0.1vw;
}
.one1:hover{
  padding: 0.1px 2px 0.1px 2px;
  cursor: pointer;
}
.two2:hover{
  padding: 0.1px 2px 0.1px 2px;
  cursor: pointer;
}
.three3:hover{
  padding: 0.1px 2px 0.1px 2px;
  cursor: pointer;
}
.time-line{
  text-align: center;
}
.time-track{
  text-align: center;
}
.eleven{
  padding: 5vw 20vw 5vw 20vw;
  background-image: url('temp.jpg');
}
.beta{
  color: #00CEB2;
  padding: 3vw 15vw 3vw 15vw;
  text-align: center;
  font-size: 1.5vw;
}
.bta{
  width: 50vw;
  height: 25vw;
}
.ip{
  height: 20vw;
  width: 15vw
}
.tml{
  text-align: center;
}
.centre{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.grid-container8{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 2vw;
  padding: 1vw 20vw 1vw 20vw;
}
.grid-container8>div{
  text-align: center;
}
.c1{
  height: 18vw;
  width: 13vw;
}
.core{
  text-align: center;
  font-size: 2.5vw;
}
.parent {
  position: relative;
  top: 0;
  left: 0;
}
.c1 {
  position: relative;
  top: 0;
  left: 0;
  border: 0px red solid;
}
.c1-child {
  height: 2vw;
  position: absolute;
  top: 17vw;
  left:10vw ;
  border: 0 green solid;
}
.grid-container9{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10vw;
  padding: 1vw 25vw 5vw 25vw;
}
.grid-container9>div{
  text-align: left;
}
.thirteen{
  background-color: #F8F8FF;
  padding: 10vw 20vw 5vw 20vw;
}
.grid-container10{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 2vw;
}
.grid-container10>div{
  text-align: left;
  background-color:#F8F8FF;
}
.para{
  text-align: left;
  font-size: 1vw;
  padding: 1vw;
}
.icn{
  height: 2vw;
}
.bac-wht{
  background-color: #ffffff;
}
.one-13,.two-13,.three-13,.four-13{
  background-color: #FFF;
  margin:2vw;
  padding: 0.5vw;
}
.hid{
  display: none;
}
#minus1,#minus2,#minus3,#minus4{
  display: none;
}
#minus1,#minus2,#minus3,#minus4#plus1,#plus2,#plus3,#plus4:hover{
  cursor: pointer;
}
.fourteen{
  padding-top: 5vw;
}
.part{
  padding: 2vw 10vw 5vw 10vw;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.grid-container11{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 5vw;
  padding: 5vw 10vw 5vw 10vw;
  background-color: #4B26A0;
}
.grid-container11>div{
  text-align: center;
  background-color: #4B26A0;
}
.third-head-center{
  color: #fff;
  font-size: 1vw;
}
.lst{
  color: #2978b5;
  font-size: 0.85vw;
}
.ext{
  padding: 1vw 15vw 1vw 15vw;
}
.para7{
  font-size: 1.5vw;
}
.doc-des{
  font-size: 1.5vw;
}
figcaption>p{
  font-size: 2.1vw;
}
figcaption>h6{
  font-size: 1.95vw;
}
